/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ---------- Global Styles ---------- */

html {
  font-size: 16px;
}

body {
 font-family: 'Open Sans', sans-serif;
 font-size: 1em;
 background-color: #333333;
 color: #e2e3ed;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
  /* this overrides default margins */
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  line-height: 1.75em;
  font-weight: 500;
}

h3,
h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25em;
  line-height: 1.75em;
  font-weight: 500;
}

p {
  font-size: 1em;
  line-height: 1.25em;
  font-weight: 400;
}

a {
     color: #e2e3ed;
     text-decoration: none;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

img {
  width: 100%;
}

.content-wrapper {
  width: 90%;
  margin: 0 20px;
  padding: 50px 0;
}

.light-green {
  background-color: #527158;
}

.dark-green {
  background-color: #2A423A;
}

/* ---------- Base Header - Footer Styles ---------- */

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header .content-wrapper,
footer .content-wrapper {
  width: 60%;
  padding: 0; /* overrides 50px padding set by base content-wrapper */
}

  /* -------------- Header -------------- */
  .logo-container,
  nav ul {
    padding: 15px 0; /* sets top and bottom padding to 15px rather than default 50px */
  }

  header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .logo-container img {
      width: 220px;
    }

  /*  removing this for now until I have tablet and desktop set up, since they don't have divider.
    how to make this go across the entire page, rather than just matching 60% width?
  .header-divider {
    width: 100%;
    height: 1px;
    margin: 10px 0 20px 0;
    background-color: grey;
  } */

  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0; /* gets rid of automatic margin set for ul */
    text-transform: uppercase;
    font-weight: 700;
  }

  /* -------------- Footer --------------*/
  .contact,
  .social,
  .copyright {
    padding-top: 50px;
    text-align: center;
  }

  /* should I set width here? it messes with centering.
  .contact,
  .social {
    width: 50%; 
    } */

  .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

/* ---------- Base Homepage Styles ---------- */

  /* --------------- Base Hero --------------- */

  .hero-area {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background: url("../img/jake-melara-30679-unsplash.jpg") center no-repeat #333333;
    background-size: cover;
  }

  .hero-area h1 {
    font-size: 2.25em;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.2;
  }

  /* --------------- Base Newsletter --------------- */

  aside {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  aside .content-wrapper {
    isplay: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    /* TODO fix alignment, the headers for each section aren't lining up*/
    padding: 0 0 50px 0; /* overrides 50px padding-top set by base content-wrapper */
  }

  .form-description,
  .form {
    padding-top: 25px; 
  }

  .form {
    display: flex;
    flex-flow: column;
  }

  .form input {
    margin-top: 15px;
  }

  input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    font-style: italic;
    padding: 1em;
  }
   
  input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #2a423a;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }

  /* --------------- Base Features --------------- */
  
  .features-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/rawpixel-800820-unsplash1.jpg") center no-repeat #333333;
    background-size: cover;
  }

  .features-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
    .features-items article {
      text-align: center;
      width: 200px;
      padding: 25px;
    }

  /* --------------- Base Reviews --------------- */

  .reviews-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  /* TODO how can I get text to line up with top of image? */

  .reviews-section h2 {
    padding-bottom: 30px;
  }

  .reviews-section h3 {
    padding: 20px 0;
  }

/* ---------- Base FAQ Styles ---------- */

.faq-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq-item {
  padding-top: 50px;
}

.faq-item p {
  padding-top: 15px;
}

/* ---------- Base About Styles ---------- */

.mission-section,
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.mission-content p {
  padding-top: 20px;
}

.contact-content h4 {
  padding-top: 20px;
}

.contact-content p {
  padding-top: 10px;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
    /*Tablet styles here*/

    .content-wrapper {
      max-width: 640px;
      margin: 0 60px;
      padding: 100px 0;
    }

    /* ----- Tablet Header & Footer ---- */
    
    header .content-wrapper,
    footer .content-wrapper {
      width: 100%;
    }

    header .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    header nav {
      width: 20%;
    }

    header nav ul {
      display: flex;
      justify-content: space-between;
    }

    .footer-content {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .contact,
    .social {
      width: 45%; /* setting this enables the social icons to spread out evenly, 
      otherwise will crowd together in tablet mode */
    }

    /* ---- Tablet Homepage ---- */

    /* ---------- Tablet Hero ------------*/
    .hero-area h1 {
      font-size: 3em;
      line-height: 1;
    }

    /* ---------- Tablet Newsletter ---------- */

    aside .content-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 45px;
    }

    .form-description,
    .form {
      width: 45%;
      padding-top: 0px;  /* resets padding set for mobile */
    }
    
    /* ---------- Tablet Features ---------- */

    .features-items {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-flow: row wrap;
    }

    /* ---------- Tablet Reviews ---------- */

    .reviews-section h2 {
      padding-bottom:20px; 
    }

    .reviews-section article {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .reviews-section article div {
      width: 45%;
    }

    .reviews-section article img {
      
      /* TODO check this- padding is not visible yet, but I hope will work once image is in place */
    }

    .reviews-section article h3 {
      padding: 0 0 15px 0; /* resets padding from base style */
    }

    /* ---------- Tablet FAQ Page ---------- */

    .faq-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row wrap;
    }

    .faq-item {
      width: 45%;
    }
    
    /* ---------- Tablet About Page ---------- */

    .mission-content,
    .contact-content {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }

    .mission-content p,
    .contact-content div {
      width: 45%;
    }

    .contact-content {
      padding-top: 50px;
    }

    } /* tablet media query ends */
     
    @media only screen and (min-width: 1200px) {
    /*Desktop styles here*/
    .content-wrapper {
      max-width: 950px;
      margin: 0 115px;
      padding: 100px 0;
    }

    .logo-container img {
      width: 280px;
    }

    /* ---- Desktop Homepage ---- */

    .hero-area .content-wrapper {
      padding-top: 50px;
    }

    .hero-area h1 {
      font-size: 3.75em;
      width: 75%;
    }

    aside .content-wrapper {
      padding: 45px 200px;
    }

    .features-section h2,
    .reviews-section h2 {
      padding-bottom: 100px;
    }

    /* ---- Desktop FAQ Page ---- */

    /* ---- Desktop About Page ---- */
    .contact-content {
      padding-top: 30px;
    }


    } /* desktop media query ends */

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

